h1, h2 {
  color: purple;
}
body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
}
.block {
  background-color: lightgreen;
  padding: 10px;
}
.block {
  color: darkgreen;
}
#unique {
  background-color: lightblue;
  padding: 15px;
  border: 2px solid blue;
}
#unique > span {
  color: red;
  font-weight: bold;
}